#content {
  display: grid;
  border: 1px solid red;
}

.personal-section,
.education-section,
.work-section {
  border: 1px solid red;
  padding: 25px;
}

.personal-section {
}
.education-section {
}
.work-section {
}
